.font-heavy {
  font-family: neue-haas-unica;
  font-weight: 700;
  font-style: normal;
}
.font-heavy-italic {
  font-family: neue-haas-unica;
  font-weight: 700;
  font-style: italic;
}
.font-italic {
  font-family: neue-haas-unica;
  font-weight: 400;
  font-style: italic;
}
.font {
  font-family: neue-haas-unica;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  font-family: neue-haas-unica, sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
.container {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}
.flex {
  display: flex
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.text-link {
  font-size: 88px;
  line-height: 92px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.text-link.with-border {
  border-top: 1px solid #000000;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
.header-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
}
.header-text.selected {
  border-bottom: 1px solid #000000;
}

main {
  flex: 1;
}

#home-animation {
  /* background-color: green; */
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-animation-text {
  font-size: 280px;
}
.home-copy {
  font-size: 88px;
  line-height: 92px;
  padding-top: 40px;
  padding-bottom: 200px;
}

.blue {
  background-color: #5140dc;
}
.blue-background {
  background-image: url('../images/box1.jpg');
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.green {
  background-color: #06af92;
}
.green-background {
  background-image: url('../images/box2.jpg');
  background-size: 32% auto;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}
.yellow {
  background-color: #fcfc4d;
}
.yellow-background {
  background-image: url('../images/box3.jpg');
  background-size: 460px auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;

  height: 300px;
  background-color: #d1d140;
}
.half-left {
  /* width: 50%; */
  padding-right: 50%;
}
.half-right {
  /* width: 50%; */
  padding-left: 50%;
}
.how-container {
  border-top: 1px solid #000000;
  padding-top: 20px;
  padding-bottom: 50px;
}
.how-header {
  font-size: 88px;
  line-height: 92px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.how-title {
  padding-top: 20px;
  text-decoration: underline;
}
.how-text {
  margin-top: 4px;
}

.order-title {
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 6px;
}
.order-item {
  border-top: 1px solid #000000;
  padding-top: 8px;
  padding-bottom: 8px;
}
.order-radio {
  cursor: pointer;
}
.order-radio .icon {
  height: 36px;
  width: 36px;
  margin: 0 15px 0 10px;
  border: 1px solid #000000;
  border-radius: 18px;
}
.order-radio.selected .icon{
  background-color: #000000;
}
.order-radio .text {
  font-size: 88px;
  line-height: 80px;
  padding-bottom: 10px;
}
.input-yellow, .input-green {
  background-color: transparent;
  outline: none;
  border-width: 0;
  width: 100%;
  font-size: 70px;
  line-height: 70px;
}
.input-yellow::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /* color: #d7d7d7; */
}
.input-yellow::-moz-placeholder { /* Firefox 19+ */
  /* color: #d7d7d7; */
}
.input-yellow:-ms-input-placeholder { /* IE 10+ */
  /* color: #d7d7d7; */
}
.input-yellow:-moz-placeholder { /* Firefox 18- */
  /* color: #d7d7d7; */
}
.input-green::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /* color: #d7d7d7; */
}
.input-green::-moz-placeholder { /* Firefox 19+ */
  /* color: #d7d7d7; */
}
.input-green:-ms-input-placeholder { /* IE 10+ */
  /* color: #d7d7d7; */
}
.input-green:-moz-placeholder { /* Firefox 18- */
  /* color: #d7d7d7; */
}

.welcome-title {
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 20px;
}
.welcome-text {

}

footer {
  width: 100%;
}
.footer-text {
  border-top: 1px solid #000000;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: right;
}