
@font-face {
  font-family: "Neue Haas Unica W06 Regular";
  src: url("../fonts/7250d52844cced73ed70675d1b78c60c.eot"); /* IE9*/
  src: url("../fonts/7250d52844cced73ed70675d1b78c60c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/7250d52844cced73ed70675d1b78c60c.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/7250d52844cced73ed70675d1b78c60c.woff") format("woff"), /* chrome、firefox */
  url("../fonts/7250d52844cced73ed70675d1b78c60c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/7250d52844cced73ed70675d1b78c60c.svg#Neue Haas Unica W06 Regular") format("svg"); /* iOS 4.1- */
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  font-family:"Neue Haas Unica W06 Regular", sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
.container {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}
.flex {
  display: flex
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-baseline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.flex-space-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-60 {
  padding-top: 60px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-left-40pc {
  padding-left: 40%;
}
.padding-right-40pc {
  padding-right: 40%;
}
.text-link {
  font-size: 90px;
  line-height: 96px;
  padding-bottom: 9px;
  letter-spacing: -2px;
}
.text-link img {
  width: 57px;
}
.text-link.with-border {
  border-top: 1px solid #000000;
}
.vh100 {
  min-height: 100vh;
}
.vh100-60 {
  min-height: calc(100vh - 60px);
}
.vh100-180 {
  min-height: calc(100vh - 180px);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
.header-text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.5;
}
.header-text.solid {
  opacity: 1;
}
.header-text.selected {
  border-bottom: 1px solid #000000;
  opacity: 1;
}
.header-text:hover {
  opacity: 1;
}

main {
  flex: 1;
}

#home-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-animation-text {
  font-size: 280px;
  letter-spacing: -8px;
}
#home-animation-text span.m {
  letter-spacing: -23px;
}
#home-animation-text span.l {
  letter-spacing: -11px;
}
.home-copy {
  font-size: 60px;
  line-height: 68px;
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 60px;
}

.grey {
  background-color: #e8e7ea;
}
.grey-background {
  background-color: #e5e5e3;
  background-image: url('../images/grey.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
}
.blue {
  background-color: #5140dc;
}
.blue-background {
  /* same */
  background-image: url('../images/blue.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100% auto;
}
.green {
  background-color: #06af92;
}
.green-background {
  background-color: #2eb8a8;
  background-image: url('../images/green.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 100% auto;
}
.yellow {
  background-color: #fcfc4d;
}
.yellow-background {
  background-color: #fcfc4e;
  background-image: url('../images/yellow-2.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
}
.pink {
  background-color: #f8c6dd;
}
.pink-background {
  background-color: #fab7d8;
  background-image: url('../images/pink2.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
}

.how-title {
  font-size: 90px;
  line-height: 80px;
  padding-bottom: 40px;
  letter-spacing: -2px;
}
.how-text {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
}
.how-link img {
  width: 25px;
}

.order-title {
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 16px;
}
.order-per-month {
  font-size: 20px;
  line-height: 20px;
}
.order-item {
  border-top: 1px solid #000000;
  padding-top: 3px;
  padding-bottom: 8px;
}
.order-item.with-extra-padding {
  padding-top: 8px;
  /* padding-bottom: 8px; */
}
.order-radio {
  cursor: pointer;
}
.order-radio .icon {
  height: 36px;
  width: 36px;
  margin: 0 15px 0 10px;
  border: 1px solid #000000;
  border-radius: 18px;
}
.order-radio.selected .icon {
  background-color: #000000;
}
.order-radio .text, .order-radio .price {
  font-size: 90px;
  line-height: 80px;
  padding-bottom: 10px;
  letter-spacing: -2px;
  color: #249586;
}
.order-radio.selected .text, .order-radio.selected .price {
  color: #000000;
}
.order-radio .price span{
  padding-right: 5px;
}
.input-yellow, .input-green, .input-pink, .input-blue {
  background-color: transparent;
  outline: none;
  border-width: 0;
  width: 100%;
  font-size: 90px;
  height: 89px;
  padding-bottom: 10px;
  letter-spacing: -2px;
  font-family:"Neue Haas Unica W06 Regular";
}
.input-blue::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #4138ad;
}
.input-blue::-moz-placeholder { /* Firefox 19+ */
  color: #4138ad;
}
.input-blue:-ms-input-placeholder { /* IE 10+ */
  color: #4138ad;
}
.input-blue:-moz-placeholder { /* Firefox 18- */
  color: #4138ad;
}
.input-yellow::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cac84a;
}
.input-yellow::-moz-placeholder { /* Firefox 19+ */
  color: #cac84a;
}
.input-yellow:-ms-input-placeholder { /* IE 10+ */
  color: #cac84a;
}
.input-yellow:-moz-placeholder { /* Firefox 18- */
  color: #cac84a;
}
.input-green::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #249586;
}
.input-green::-moz-placeholder { /* Firefox 19+ */
  color: #249586;
}
.input-green:-ms-input-placeholder { /* IE 10+ */
  color: #249586;
}
.input-green:-moz-placeholder { /* Firefox 18- */
  color: #249586;
}
.input-pink::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c993ae;
}
.input-pink::-moz-placeholder { /* Firefox 19+ */
  color: #c993ae;
}
.input-pink:-ms-input-placeholder { /* IE 10+ */
  color: #c993ae;
}
.input-pink:-moz-placeholder { /* Firefox 18- */
  color: #c993ae;
}

.welcome-title {
  font-size: 90px;
  line-height: 90px;
  padding-bottom: 20px;
}
.welcome-text {
  font-size: 60px;
  line-height: 68px;
  padding-right: 15%;
  padding-bottom: 40px;
}

footer {
  width: 100%;
}
.footer-text {
  border-top: 1px solid #000000;
  font-size: 20px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: right;
}